<footer class="page-footer bg-image">
    <div class="container">
      <div class="row mb-0">
        <div class="col-lg-4 py-3">
          <h3 class="text-center">Auto Pro &copy;</h3>
          <p class="text-center">We're making it faster and easier to sell your car to interested buyers in your area...</p>

          <div class="social-media-button">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/home"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
     
        <div class="col-lg-4 py-3">
          <h5>Contact Us</h5>
          <p>Central Office Marienplatz 1, Munich, Germany</p>
          <p class="footer-link">+42 1782 34344</p>
          <p class="footer-link">sells@auto-pro.com</p>
        </div>
        <div class="col-lg-3 py-3">
            <h5>Newsletter</h5>
            <p>Get updates, news or events on your mail.</p>
            <form action="#">
              <input type="text" class="form-control" placeholder="Enter your email..">
              <button type="submit" class="col-12 btn btn-secondary btn-block mt-2">Subscribe</button>
            </form>
          </div>
      </div>

      <p class="text-center" id="copyright">Copyright &copy; 2022 Auto Pro Sells.</p>
    </div>
  </footer>
