<div class="container">
    <table *ngIf="profile" class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th class="col-10" scope="col">Ads</th>
            <th class="col-1" scope="col"></th>
            <th class="col-1" scope="col"></th>
          </tr>
        </thead>
        <tbody *ngFor="let ad of profile?.ads, let i = index">
          <tr>
            <th scope="row">{{i + 1}}</th>
            <td>{{ad.title}}</td>         
            <td><button class="btn btn-warning" (click)="deactivateById(ad?.id)" [disabled]="!ad?.isActive">Deactivate</button></td>
            <td><button class="btn btn-danger" (click)="deleteById(ad?.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>
      <p class="text-center" *ngIf="!profile && !profileFetchFailed">You have no ads at the moment.</p>
      <p class="text-center text-danger" *ngIf="profileFetchFailed">Something goes wrong. Please try again.</p>
</div>
