<div class="container">
    <div class="row">
        <div class="page-section">
            <div class="container">
                <div class="row">
                    <div *ngFor="let car of carsResponse?.ads" class="d-flex align-items-stretch col-12 col-xs-12 col-md-4">
                        <div class="col-12" id={{car.id}}>
                            <div class="card-service wow fadeInUp">
                                <div class="header">
                                    <img class="car-img" src={{car.pictureUrl}} alt={{car.make}}>
                                </div>
                                <div class="body">
                                    <h5 class="text-secondary">{{car.make}} {{car.model}}</h5>
                                    <p>{{car.year}} for only {{car.price}} EUR</p>
                                    <a href="service.html" class="btn btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</div>
