<div class="login">
    <div class="row w-100">
        <div class="col-lg-4 col-md-8 col-sm-mb-10">
            <form class="contact-form" [formGroup]="loginForm" (ngSubmit)="login()">
                <h2 class="mb-4 font-weight-medium text-secondary">Login now in AutoPro!</h2>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label class="text-black" for="email">Email</label>
                        <input type="email" id="email" class="form-control" formControlName="email" (focus)="loginSuccessful = true">
                    </div>
                    <div *ngIf="email?.touched && email?.errors?.['required']">
                        <p class="text-danger">Email field is rerqired.</p>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12">
                        <label class="text-black" for="subject">Password</label>
                        <input type="password" id="subject" class="form-control" formControlName="password"  (focus)="loginSuccessful = true">
                    </div>
                    <div *ngIf="password?.touched && password?.errors?.['required']">
                        <p class="text-danger">Password field is rerqired.</p>
                    </div>
                </div>

                <div *ngIf="!loginSuccessful">
                    <p class="text-danger mt-2">Incorrect email or password.</p>
                </div>

                <div class="row form-group mt-4">
                    <div class="col-md-12">
                        <input type="submit" value="Login" class="btn btn-primary" [disabled]="!loginForm.valid">
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
