<div class="container">
    <div class="page-banner home-banner">
        <div class="row align-items-center flex-wrap-reverse h-100">
            <div class="col-md-6 py-5 wow fadeInLeft">
                <h1 class="mb-4">Let's sell your car for the best price! Or maybe you need a new one?</h1>
                <p class="text-lg text-grey mb-0">Auto<span class="text-primary">Pro</span> is the most powerfull car
                    dealer when you want to buy or sell a car!</p>
            </div>
            <div class="col-md-6 py-5 wow zoomIn">
                <div>
                    <img class="img-responsive w-100 p-4" src="../../../assets/img/cars-home.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="page-section">
            <div class="container">
                <div class="row">
                    <div *ngFor="let car of cars" class="d-flex align-items-stretch col-12 col-xs-12 col-md-4">
                        <div class="col-12" id={{car.id}}>
                            <div class="card-service wow fadeInUp">
                                <div class="header">
                                    <img class="car-img" src={{car.pictureUrl}} alt={{car.make}}>
                                </div>
                                <div class="body">
                                    <h5 class="text-secondary">{{car.make}} {{car.model}}</h5>
                                    <p>{{car.year}} for only {{car.price}} EUR</p>
                                    <a href="service.html" class="btn btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>